BSK1.json
[
    {
        "id": "28e9aa5e.bae466",
        "type": "tab",
        "label": "Boy Scout Kit",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fc4fb776.455e98",
        "type": "ui_tab",
        "z": "",
        "name": "Boy Scout Kit",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d28caaeb.d546c8",
        "type": "ui_group",
        "z": "",
        "name": "Boy Scout Kit",
        "tab": "fc4fb776.455e98",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5ddc8713.302898",
        "type": "particle-cloud",
        "z": "",
        "host": "https://api.particle.io",
        "port": "443",
        "accesstoken": "9d8fb21fe27f5693335d039c083f0b9aa14b2c09",
        "name": "GPSBORON"
    },
    {
        "id": "e5fd0b3e.95f578",
        "type": "particle-SSE",
        "z": "28e9aa5e.bae466",
        "pcloud": "5ddc8713.302898",
        "subscribetype": "mine",
        "devprodslug": " e00fce681d5d22d6f8e9ee81",
        "devid": "",
        "evtname": "lat",
        "strict": 0,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "99d3a2ed.5903d"
            ]
        ]
    },
    {
        "id": "4276542e.c37c4c",
        "type": "inject",
        "z": "28e9aa5e.bae466",
        "name": "Ping",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "e5fd0b3e.95f578",
                "c801e18a.83c6"
            ]
        ]
    },
    {
        "id": "b05aa773.eabdf8",
        "type": "ui_worldmap",
        "z": "28e9aa5e.bae466",
        "group": "d28caaeb.d546c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "BSK Map",
        "lat": "32.714819",
        "lon": "-117.163192",
        "zoom": "12",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "path": "/worldmap",
        "x": 920,
        "y": 260,
        "wires": [],
        "info": "msg.payload = { name:\"Joe\", lat:51.05, lon:-1.35 }\nmsg.payload = { \"name\":\"A3090\", \"lat\":51.05, \"lon\":-1.35, \"radius\":3000 }\nmsg.payload = { name:\"BSK_Test\", lat:32.714819, lon:-117.163192 }"
    },
    {
        "id": "4f98fb05.7a9914",
        "type": "debug",
        "z": "28e9aa5e.bae466",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "67422c3b.cd1bb4",
        "type": "inject",
        "z": "28e9aa5e.bae466",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "3d62e99e.82c786"
            ]
        ]
    },
    {
        "id": "3d62e99e.82c786",
        "type": "function",
        "z": "28e9aa5e.bae466",
        "name": "BSK_Test",
        "func": "msg.payload = { name:\"BSK_Test\", lat:32.714819, lon:-117.163192 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "4f98fb05.7a9914",
                "b05aa773.eabdf8"
            ]
        ],
        "info": "\"\\msg.payload\\ = { \\ name\\:\\\"BSK_Test\\\", \\lat\\:\\%f\\, \\lon\\:\\%f\\ }\"\nmsg.payload = { name:\"BSK_Test\", lat:32.714819, lon:-117.163192 }\nmsg.payload = { ame:\"BSK_Test\", lat: 32.630032, lon: -116.976122 }\n\n\"{\\\"position\\\": {\\\"value\\\":1, \\\"context\\\":{\\\"lat\\\": \\\"%f\\\", \\\"lon\\\": \\\"%f\\\"}}}\"\n{\"position\": {\"value\":1, \"context\":{\"lat\": \"32.630070\", \"lon\": \"-116.976087\"}}}"
    },
    {
        "id": "99d3a2ed.5903d",
        "type": "change",
        "z": "28e9aa5e.bae466",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.ttl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.published_at",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.coreid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.name",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "d68d8227.3f1fa"
            ]
        ]
    },
    {
        "id": "c801e18a.83c6",
        "type": "particle-SSE",
        "z": "28e9aa5e.bae466",
        "pcloud": "5ddc8713.302898",
        "subscribetype": "mine",
        "devprodslug": " e00fce681d5d22d6f8e9ee81",
        "devid": "",
        "evtname": "lon",
        "strict": 0,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "eadf3ba4.15d2e8"
            ]
        ]
    },
    {
        "id": "d68d8227.3f1fa",
        "type": "function",
        "z": "28e9aa5e.bae466",
        "name": "",
        "func": "var lat;\n\nmsg.payload = { name:\"BSK_Test\", lat:32.714819, lon:-117.163192 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "7fe36b06.ffe614"
            ]
        ]
    },
    {
        "id": "eadf3ba4.15d2e8",
        "type": "change",
        "z": "28e9aa5e.bae466",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.ttl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.published_at",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.coreid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.name",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "f44e5f2b.4ea23"
            ]
        ]
    },
    {
        "id": "f44e5f2b.4ea23",
        "type": "function",
        "z": "28e9aa5e.bae466",
        "name": "",
        "func": "var lon;\n\nmsg.payload = { name:\"BSK_Test\", lat:32.714819, lon:-117.163192 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "7fe36b06.ffe614"
            ]
        ]
    },
    {
        "id": "7fe36b06.ffe614",
        "type": "function",
        "z": "28e9aa5e.bae466",
        "name": "",
        "func": "msg.payload = { name:\"BSK_Test\", lat:32.714819, lon:-117.163192 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 300,
        "wires": [
            [
                "4f98fb05.7a9914",
                "b05aa773.eabdf8"
            ]
        ]
    }
]